button{
    width: 180px;
    color:#000;
    font-size: 15px;
    padding: 12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.container{
    width:100%;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-size: cover;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
.video1{
    top:-100px;
    position: relative;
    left:120px;
}
.video2{
    position:relative;
    top: 150px;
    left:-185px;
}
h1{
    color:rgb(238, 235, 228);
    font-size:150px;

}
h2{
    color: wheat;
    font-size: 35px;
}
p.p,li{
    color:rgb(160, 100, 100);
    font-size: 20px;
    line-height: 30px;
}


.card{
    width: 250px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing:border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin-left: 20px;
    margin-top:20px;


}

.card1{
    background-image: url(photos/bitcoin.jpg);
}
.card2{
    background-image: url(photos/ethereum.jpg);   
}
.card3{
    background-image: url(photos/solana.jpg);   
}
.card4{
    background-image: url(photos/shiba2.jpg); 
}

.card:hover{
    transform: translateY(-10px);
}

h4{
    color: rgb(58, 55, 55);
    text-shadow: 0 0 5px rgb(193, 198, 220)9;
    font-size: 20px;
}
