
footer {
    position: absolute;
    background: black !important;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-bottom {
    background: black !important;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.main{
    width: 50%;
    height: 60%;
    background: rgb(28, 28, 34);
    
    color:#05133f;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    background: rgba(248, 248, 248, 0.63);

}


.btn{
   
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large ;
    font-weight: 500;
    border: none;
    outline: none;
    background:#7693b8;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.btn:hover{
    background:#3e6aa3;
    color: #979797;
}

.container{
    width: 900px;

}

footer{
    position: absolute;
    background: black;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;}
    
    .footer-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;}
    
    .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;}
    
    .footer-content p{
    max-width: 500px;
    margin: 1px;
    line-height: 20px;
    font-size: 14px;}
    
    .socials{
        color:white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;}
    
    .socials li{
    margin: 0 10px;}
    
    .socials a{
    text-decoration: none;
    color:rgb(254, 254, 254);}

    .socials a i{
    font-size: 2.1rem;
    transition: color .4s ease;}
    
    .socials a:hover i{
    color: rgb(55, 122, 143);}
    
    .footer-bottom{
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 20px 0;
    text-align: center;}
    
    
    .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;}
    
    
